# This is DWH configuration file, it should be placed either in
# current directory or inside $HOME/.dwh/config.

prometheus_enabled: true
prometheus_host_port: "0.0.0.0:{{ dwh_prometheus_port }}"
pprof_enabled: false
pprof_host_port: "0.0.0.0:6061"
state_path: "./indexer.state"
node_endpoint: "tcp://{{ hostvars[groups['testnet'][0]].ansible_host }}:26657"
chain_id: "{{ env_name }}"
vfr_home: ""
height: 0
trust_node: false
broadcast_mode: "sync"
gen_only: false
user_name: "user1"

