# File should be stored in repository CI/CD variables by name TERRAFORM_SECRETS_B64 , encoded with base64 (`cat secrets.auto.tfvars | base64 -w0 > /tmp/encoded_terraform_secrets`)

# DigitalOcean
do_token = "FILLME"

# SSH
provisioner_ssh_key_public = "ssh-rsa FILLME" # should be redefined by CI/CD and passed in auto.tfvars file
provisioner_ssh_key_private_b64 = "" # should be redefined by CI/CD and passed in auto.tfvars file
